@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}
#content {
  position: relative;
  width: 100vw;
  height: 90vh;
  padding: 0px;
  margin: 0px;
  margin-top: 10vh;
}
#title {
  height: 25vh;
  line-height: 25vh;
  text-align: center;
  margin: 0px;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: 0.125em;
  user-select: none;
}
#crossroad {
  position: relative;
  height: 50vh;
  margin-bottom: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#crossroad a {
  flex-basis: 40%;
  height: 15vh;
  margin: 5vh 5%;
  text-decoration: none;
  color: black;
  line-height: 15vh;
  text-align: center;
  font-size: 3.5em;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
}
#crossroad a:hover {
  transform: scale(1.2);
}
#crossroad a:hover ~ #background img {
  filter: blur(1em);
}
#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  top: 0px;
  z-index: -1;
}
#background img {
  height: 110%;
  position: absolute;
  width: auto;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, 20%);
  transition: all 0.3s ease-out;
}
@media only screen and (min-aspect-ratio: 4/5) and (max-aspect-ratio: 3/2) {
  #title {
    font-size: 5em;
  }
  #crossroad a {
    flex-basis: 23.333%;
    font-size: 2.5em;
  }
}
@media only screen and (min-aspect-ratio: 3/2) {
  #content {
    height: 66.66666667vh;
    margin-top: 16.66666667vh;
  }
  #title {
    font-size: 4em;
    height: 33.33333333vh;
    line-height: 33.33333333vh;
  }
  #crossroad {
    height: 33.33333333vh;
    margin-bottom: 16.66666667vh;
  }
  #crossroad a {
    flex-basis: 15%;
    height: 20vh;
    line-height: 20vh;
    margin: 6.666vh 5%;
    max-width: 300px;
    font-size: 2em;
  }
  #background img {
    width: 110%;
    height: auto;
  }
}
