@font-face {
  font-family: SSPB;
  src: url("../fonts/SSPB.ttf");
}
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  border: 0px;
  font-family: SSPB, sans-serif;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#navigation {
  font-size: 1rem;
  transition: all 0.6s ease-in-out;
  position: fixed;
  text-align: center;
  height: auto;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  z-index: 5;
  flex-wrap: wrap;
  background-color: white;
  text-transform: uppercase;
  overflow: hidden;
}
#navigation #title {
  background-image: url(../images/jose/jose_header.jpg);
  z-index: 10;
  flex-basis: 100%;
  font-size: 4em;
  overflow: hidden;
  line-height: 1.24em;
  margin: 0px;
}
#navigation #arrow {
  position: absolute;
  z-index: 12;
  font-size: 1rem;
  top: 0em;
  right: 0em;
  width: 5em;
  height: 5em;
  background-image: url("../images/menu_arrow.svg");
  background-size: 5em;
  display: block;
  transition: all 0.6s ease-in-out;
}
#navigation #menu {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background-color: white;
  height: 0;
  transition: all 0.8s ease-in-out;
}
#navigation #menu a,
#navigation #menu p {
  flex-basis: 80%;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 4.8rem;
  color: black;
}
#navigation #menu p {
  margin: 0px;
  margin-top: 1.2rem;
  height: 4.8rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  transition: all 0.6s ease-in-out;
}
#navigation #menu p a {
  flex-basis: 100%;
  font-size: 2rem;
  line-height: 2rem;
}
#navigation #menu p:hover {
  height: 16rem;
}
@media only screen and (max-aspect-ratio: 3/4) {
  #menu {
    background-image: none !important;
  }
}
@media only screen and (min-aspect-ratio: 3/4) {
  #navigation #arrow {
    left: 0px;
    right: auto;
    transform: rotate(270deg);
  }
  #navigation #menu {
    position: fixed;
    height: 100%;
    transform: translateX(-100%);
    width: 50%;
    background-image: url(../images/jose/jose_header.jpg);
    background-attachment: fixed;
  }
  #navigation #menu p {
    margin-top: 6rem;
    height: 12rem !important;
  }
  #navigation #menu p,
  #navigation #menu a {
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    transition: all 0.4s ease-in-out;
  }
  #navigation #menu p a {
    font-size: 1.5rem;
    line-height: 1em;
    height: 1em;
  }
  #navigation #menu a:hover {
    transform: scale(1.2);
  }
}
@media only screen and (min-aspect-ratio: 3/2) {
  #navigation #menu {
    width: 25%;
  }
}
@font-face {
  font-family: SSPR;
  src: url("../fonts/SSPR.ttf");
}
#content {
  margin-top: 7rem;
  font-size: 1em;
}
#content .contact {
  height: 5rem;
  position: relative;
  width: 100%;
  line-height: 5rem;
  display: block;
  text-decoration: none;
  margin-bottom: 2em;
}
#content .contact:hover p {
  font-size: 1.7rem;
}
#content .contact div {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  display: inline-block;
  background-size: contain;
}
#content .contact p {
  font-weight: 600;
  transition: 0.3s all ease-in-out;
  display: inline-block;
  line-height: 5rem;
  vertical-align: top;
  height: 5rem;
  font-size: 1.5rem;
  padding: 0px;
  color: black;
  text-decoration: underline;
}
#content p {
  line-height: 1.7em;
  padding: 1rem;
  font-size: 1.5em;
  font-family: SSPR;
  font-weight: 500;
  margin: 0px;
  padding-bottom: 5em;
}
#content p br {
  line-height: 3em;
}
#content p img {
  position: relative;
  width: 33%;
  padding: 2em;
  float: left;
  padding-top: 0em;
  padding-bottom: 1em;
  padding-left: 1em;
}
#content #copyright {
  grid-area: cr;
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}
#content #copyright a {
  color: black;
  flex-basis: auto;
  display: inline-block;
}
#content #copyright a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
#content #copyright p {
  flex-basis: auto;
  font-size: 1rem;
  font-weight: 800;
  padding: 0px;
  letter-spacing: 1px;
  display: inline-block;
  transform: scale(1);
  color: black;
}
@media only screen and (min-aspect-ratio: 4/3) {
  #navigation #arrow {
    display: none;
  }
  #navigation #menu {
    transform: translateX(0%) !important;
  }
  #content {
    width: 60%;
    margin-left: 25%;
    padding-left: 3rem;
    padding-top: 3rem;
    margin-right: auto;
  }
  #content p img {
    position: relative;
    width: 25%;
    display: block;
    float: left;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
  }
  #content #copyright {
    padding-top: 10em;
  }
  #content #copyright p {
    padding: 0px;
    font-weight: 800;
  }
}
