@font-face {
  font-family: SSPB;
  src: url("../fonts/SSPB.ttf");
}
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  border: 0px;
  font-family: SSPB, sans-serif;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
