@font-face {
    font-family: SSPB;
    src: url("../fonts/SSPB.ttf")
}
@font-face {
    font-family: SSPR;
    src: url("../fonts/SSPR.ttf")
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: SSPB, sans-serif;
}

#context {
    position: fixed;
    text-align: center;
    background-color: white;
    width: 100vw;
    height: 5em;
    top: 0px;
    left: 0px;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    h1 {
        line-height: 1.25em;
        font-size: 4em;
        margin: 0px;
    }
    #arrow {
        position: absolute;
        font-size: 1rem;
        top:0.5em;
        right: 0.5em;
        width: 4em;
        height: 4em;
        background-image: url("../images/menu_arrow.svg");
        background-size: 100%;
        background-size: 4em;
        display: block;
        transition: all 0.6s ease-in-out;
    }
    #navlinks {
        background-color: white;
        height: 70vh;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    a {
        flex-basis: 100%;
        display: block;
        position: relative;
        font-size: 2.4rem;
        font-weight: 800;
        height: 12vh;
        line-height: 12vh;
        text-decoration: none;
        color: black;
    }
    img {
        z-index: -1;
        position: absolute;
        width: 130%;
        top: -5rem;
        left: -15%;
        filter: blur(8px);
        height: auto;
        transition: all 0.6s ease-in-out;
    }
}

.text_style {
    padding: 1rem 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    p {
        font-family: SSPR;
        font-weight: 800;
        letter-spacing: 1px;
        color: white;
        transition: all 1.5s ease-in-out 1.5s;
    }
}

#container {
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-areas: "greetText greetText" "greeter greeter" "leftT rightT" "center center" "bottom bottom" "closing closing" "cr cr";
    grid-template-columns: 50vw 50vw;
    img{
        width: 100%;
        height: auto;
        padding: 0px;
    }
    & div:nth-child(1){
        grid-area: greetText;
        //background-color: #bbb;
        background-color: white;
        .text_style;
        padding-top: 6rem;
    }
    & div:nth-child(2){
        grid-area: greeter;
    }
    & div:nth-child(3){
        padding: 2rem 0px;
        //background-color: #333;
        background-color: white;
    }
    & div:nth-child(4){
        //background-color: #333;
        background-color: white;
        //color: rgb(184, 184, 184);
        color: black;
        align-self: center;
        .text_style;
        padding: 2rem;
        p {
            margin: 0px;
        }
    }
    & div:nth-child(5){
        grid-area: center;
    }
    & div:nth-child(6){
        grid-area: bottom;
        //background-color: rgb(173, 173, 173);
        background-color: white;
        .text_style;
        padding: 2rem;
        p {
            margin: 0px;
        }
    }
    & div:nth-child(7){
        grid-area: closing;
    }
    #copyright {
        grid-area: cr;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .text_style;
        font-size: 1em;
        a {
            color: white;
            flex-basis: auto;
            display: inline-block;
        }
        a:hover {
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
        }
        p {
            flex-basis: auto;
            display: inline-block;
            color: white;
        }
    }
}