#navigation {
  font-size: 1rem;
  transition: all 0.6s ease-in-out;
  position: fixed;
  text-align: center;
  height: auto;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  z-index: 5;
  flex-wrap: wrap;
  background-color: white;
  text-transform: uppercase;
  overflow: hidden;
}
#navigation #title {
  background-image: url(../images/jose/jose_header.jpg);
  z-index: 10;
  flex-basis: 100%;
  font-size: 4em;
  height: 1.25em;
  overflow: hidden;
  line-height: 1.25em;
  margin: 0px;
  opacity: 1;
  animation: none;
}
#navigation #arrow {
  position: absolute;
  z-index: 12;
  font-size: 1rem;
  top: 0em;
  right: 0em;
  width: 5em;
  height: 5em;
  background-image: url("../images/menu_arrow.svg");
  background-size: 5em;
  display: block;
  transition: all 0.6s ease-in-out;
}
#navigation .menu-page-container {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background-color: white;
  height: 0;
  transition: all 0.8s ease-in-out;
}
#navigation .menu-page-container .menu {
  transform: translateX(0%) !important;
  padding: 0px;
}
#navigation .menu-page-container .menu .current-menu-item {
  display: none;
}
#navigation .menu-page-container .menu .submenu {
  margin: 0px;
  padding: 0px;
}
#navigation .menu-page-container ul {
  padding: 0px;
}
#navigation .menu-page-container ul ul li a {
  font-size: 80% !important;
}
#navigation .menu-page-container li,
#navigation .menu-page-container p {
  flex-basis: 80%;
  font-size: 2.4rem;
  font-weight: 800;
  height: 4.8rem;
  line-height: 4.8rem;
  color: black;
}
#navigation .menu-page-container li {
  list-style-type: none;
  height: auto;
  transition: 0.4s all ease-in-out;
}
#navigation .menu-page-container li:hover {
  transform: scale(1.2);
}
#navigation .menu-page-container li a {
  color: black;
  text-decoration: none;
}
#navigation .menu-page-container p {
  margin: 0px;
  margin-top: 1.2rem;
  height: 4.8rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  transition: all 0.6s ease-in-out;
}
#navigation .menu-page-container p a {
  flex-basis: 100%;
  font-size: 2rem;
  line-height: 2rem;
}
#navigation .menu-page-container p:hover {
  height: 16rem;
}
@media only screen and (max-aspect-ratio: 3/4) {
  .menu-page-container {
    background-image: none !important;
  }
  .menu-page-container .menu {
    margin-top: 6rem;
  }
}
@media only screen and (min-aspect-ratio: 3/4) {
  #navigation #arrow {
    left: 0px;
    right: auto;
    transform: rotate(270deg);
  }
  #navigation .menu-page-container {
    position: fixed;
    height: 100%;
    width: 50%;
    transform: translateX(-100%);
    background-attachment: fixed;
  }
  #navigation .menu-page-container .menu {
    width: 80%;
    margin: 0px auto;
    margin-top: 8rem;
  }
  #navigation .menu-page-container #menu-item-29:hover {
    transform: none;
  }
  #navigation .menu-page-container li {
    width: auto;
  }
  #navigation .menu-page-container li ul li {
    height: 3rem;
  }
  #navigation .menu-page-container li ul li a {
    font-size: 1.5rem !important;
    line-height: 3rem;
    vertical-align: top;
  }
  #navigation .menu-page-container li ul li a:hover {
    transform: scale(1);
  }
  #navigation .menu-page-container p {
    margin-top: 6rem;
    height: 12rem !important;
  }
  #navigation .menu-page-container p,
  #navigation .menu-page-container a {
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    transition: all 0.4s ease-in-out;
  }
  #navigation .menu-page-container p a {
    font-size: 1.5rem;
    line-height: 1em;
    height: 1em;
  }
  #navigation .menu-page-container a:hover {
    transform: scale(1.2);
  }
}
@media only screen and (min-aspect-ratio: 3/2) {
  #navigation .menu-page-container {
    width: 25%;
    transform: translateX(0%) !important;
  }
}
